*{
  margin: 0;
  padding: 0; /*margem de conteudo(espaço para dentro do elemento)*/
  border: 0; /*estrutura de reset(limpa todas as margens padrões das tags)*/
}
/*Coringa = OBRIGATÓRIO NA FOLHA DE ESTILO PRINCIPAL*/

body{
  font: 12px Arial, Helvetica, sans-serif;
  background-color: #ccc;
}
#wrap { /* div mãe*/
  margin: 0 auto; /*centraliza o elemento*/
  /*propriedades podem receber mais de um valor de uma só vez*/
  /*margem recebe zero de espaço e alinhamento automatico*/
  width: 1000px;
}
#header{
  background: url(../imagens/fundo.jpg) repeat-x;
  height: 200px;
}
#navbar{
  height: 50px;
  background-color: #666;
}
  #navbar ul{
    list-style-type: none;
    margin: 0 auto;
    overflow: hidden;
    width: 900px;
  }

  #navbar ul li{
    background: #ccc;
    float: left;
    margin: 0 10px;
    text-align: center;
    width: 200px;
  }
  #navbar ul li a{
    color: #fff;
    display: block;
    font-size: 20px;
    padding: 12px 0;
  }
  #navbar ul li a:hover,
  #navbar ul li a:active{
    background: #900;
    color: #fff;
  }
#content{
  overflow: auto;
  background-color: blue;
}
#esquerda{
  float: left;
  width: 300px;
  height: 600px;
  background-color: #900;
  margin: 10px;
}
#centro{
  float: left;
  width: 300px;
  height: 600px;
  background-color: #900;
  margin: 10px;
  margin-left: 30px;
}
#direita{
  float: right;
  width: 300px;
  height: 600px;
  background-color: #900;
  margin: 10px;
}
#footer{
  width: 1000px;
  height: 50px;
  clear: both;
  background-color: #666;
}
p, h1,h2,h3,h4,a{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-decoration: none;
  padding: 10px;
}
#content p{
  font-size: 14px;
}
#content a{
  float: right;
}
h1 {
  font-size: 26px;
  color: #fff;
  text-align: center;
}
h2 {
  font-size: 20px;
  color: #fff;
}
h3{
  font-size: 16px;
  color: #fff;
  text-align: center;
}
h4{
  font-size: 12px;
  color: #036;
}
a: link{
  color: #03c;
}
a:visited{
  color: #fff;
}

a:hover{
  color:#000;
  text-decoration: underline;
}
a:active{
  color: #099;
}
